<table class="col-12">
  <tr>
    <td class="divider">
      <p class="text-center offset-inside-v-5 offset-inside-h-10 text-center">
        <img src="images/fb.jpg" height="16" width="9" alt="" class="v-top">
      </p>
    </td>
    <td class="divider">
      <p class="text-center offset-inside-v-5 offset-inside-h-10 text-center">
        <img src="images/inst.jpg" height="20" width="20" alt="">
      </p>
    </td>
    <td class="divider">
      <p class="text-center offset-inside-v-5 offset-inside-h-10 text-center">
        <img src="images/tel.jpg" height="18" width="21" alt="">
      </p>
    </td>
    <td class="divider">
      <p class="text-center offset-inside-v-5 offset-inside-h-10 text-center">
        <img src="images/tw.jpg" height="12" width="16" alt="">
      </p>
    </td>
    <td class="divider">
      <p class="text-center offset-inside-v-5 offset-inside-h-10 text-center">
        <img src="images/vk.jpg" height="12" width="20" alt="">
      </p>
    </td>
  </tr>
</table>